* {
    box-sizing: border-box;
}

$colors: (
    complementary-color: #007AFF,
    text-color: #23395B,
    white-color: #ffffff,
    subtle-text-color: rgba(35, 57, 91, 0.7),
    subtle-color-green: rgba(87, 213, 151, 0.3),
    main-green: #00D072
);

@function color ($color-name) {
    @return map-get($colors, $color-name)
}



body {
    color: color(text-color);
    font-size: 16px;
    font-family: 'Palanquin', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 85%;
}

a {
    color: color(text-color);
    text-decoration: none;
}

p {
    line-height: 1.4;
}

.h2-title {
    color: color(main-green);
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 0;
}

.clear-fix {
    clear: both;
}

header {
    background: url('../img/bg-Illustration.png') no-repeat;
    background-position-x: 85%;
    background-position-y: 55px;
    height: 700px;

    nav {
        background-color: color(white-color);
        box-shadow: 1px 1px 10px rgba(35, 57, 91, 0.2);
        overflow: hidden;
        padding: 25px 70px;

        .logo {
            float: left;
        }

        .nav {
            float: right;        
        }

        div.nav div {
            display: inline-block;
        }

        div a {
            font-size: 17px;
            font-weight: 550;
            margin-left: 45px;
        }

        div a.active-link {
            color: color(main-green);
        }
    }

    .slider-text {
        margin-top: 110px;
    }

    .slider-text h1 {
        color: color(text-color);
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 5px;
        padding-right: 500px; 
    }

    .slider-text p {
        font-size: 18px;
    }

    .slider-text img {
        margin-right: 25px;
        margin-top: 25px;
    }

}

.featured {
    background-color: #F9F9F9;
    position: relative;
    height: 109px;
    top: 30px;

    .feature-div {
        margin: 0 auto;
        width: 55%;
    }

    h3 {
        color: color(subtle-text-color);
        float: left;
        margin-right: 230px;
        margin-top: 30px;
    }

    .feature-logo {
        display: inline;
        margin-right: 50px;
    }

    .feature-logo img {
        margin-right: 50px;
        padding-top: 20px;
    }
  
}

.how-it-works {
    height: 600px;
    margin-bottom: 120px;
    margin-top: 90px;
    padding: 30px 0 50px 0;

    h2.h2-title {
        font-size: 35px;
        text-align: center;
    }

    p.special-text {
        font-size: 18px;
        margin-bottom: 100px;
        margin-top: 0;
        text-align: center;
    }

    .works-nav {
        float: left;
        margin-top: 60px;
        
        width: 20%;
    }

    .works-nav p {
        color: color(main-green);
        font-size: 17px;
        font-weight: 500;
        opacity: 0.3;
    }

    p.active-works-nav {
        opacity: 1;
    }

    .works-nav p span {
        background-color: color(main-green);
        border-radius: 15px;
        display: inline-block;
        height: 5px;
        margin-right: 25px;
        width: 30px;
    }

    .works-img {
        float: left;
        margin-left: 120px;
        margin-right: 180px;
    }

    .works-sub {
        margin-left: 120px;
        margin-top: 150px;
    }
}

.works-sub p {
    font-size: 18px;
}

.why-use {
    background-color: #F5F3F7;
    height: 408px;
    padding-bottom: 30px;
    padding-top: 60px;
    text-align: center;


    .why-card {
        display: inline-block;
        margin-top: 40px;
        width: 24%;

        h3 {
            color: color(main-green);
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 2px;
        }

        p {
            margin-top: 5px;
        }
    }

}

.user-story {
    background-color: #F9F9F9;
    padding: 100px 0;
    text-align: center;

    p.special-text {
        font-size: 18px;
        margin-top: 0;
    }

    .story {
        background-color: color(white-color);
        border-radius: 6px;
        box-shadow: 1px 1px 10px rgba(230, 230, 230, 0.5);
        display: inline-block;
        margin-top: 30px;
        padding: 30px 35px;
        text-align: left;
        width: 600px;
    }

    .user {
        margin-top: 30px;
        

        img {
            display: inline-block;
            margin-right: 25px;
        }

        .user-info {
            display: inline-block;
            margin-bottom: 50px;
            text-align: left;

            .user-name span {
                font-weight: bold;
            }

            p {
                margin-bottom: 0;
                padding: 0;
            }
        }

      }

    .dots {
        background-color: color(main-green);
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin: 0 5px;
        width: 10px;
    }

    .active-dot {
        border-radius: 10px;
        cursor: default;
        height: 10px;
        width: 30px;
    }

}

.download {
    background: linear-gradient(to right, rgba(0, 208, 114, 0.9), rgba(0, 208, 114, 0.5));
    height: 350px;
    padding: 70px 0 20px 0;
    text-align: center;

    h2.h2-title {
        color: color(white-color);
        line-height: 1.3;
    }

    .app-store {
        display: inline-block;
        margin-top: 40px;

        a {
            margin-right: 20px;
        }
    }


}
