* {
    box-sizing: border-box;
}

$colors: (
    complementary-color: #007AFF,
    text-color: #23395B,
    white-color: #ffffff,
    subtle-text-color: rgba(35, 57, 91, 0.7),
    subtle-color-green: rgba(87, 213, 151, 0.3),
    main-green: #00D072
);

@function color ($color-name) {
    @return map-get($colors, $color-name)
}



body {
    color: color(text-color);
    font-size: 16px;
    font-family: 'Palanquin', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 85%;
}

a {
    color: color(text-color);
    text-decoration: none;
}

p {
    line-height: 1.4;
}

.clear-fix {
    clear: both;
}

header {
    background: url('../img/bg-Illustration.png') no-repeat;
    background-position-x: 85%;
    background-position-y: 55px;
    height: 700px;

    nav {
        background-color: color(white-color);
        box-shadow: 1px 1px 10px rgba(35, 57, 91, 0.2);
        overflow: hidden;
        padding: 25px 70px;

        .logo {
            float: left;
        }

        .nav {
            float: right;        
        }

        div.nav div {
            display: inline-block;
        }

        div a {
            font-size: 17px;
            font-weight: 550;
            margin-left: 45px;
        }

        div a.active-link {
            color: color(main-green);
        }
    }

    .slider-text {
        margin-top: 110px;
    }

    .slider-text h1 {
        color: color(text-color);
        font-size: 60px;
        line-height: 1.2;
        margin-bottom: 5px;
        padding-right: 500px; 
    }

    .slider-text p {
        font-size: 18px;
    }

    .slider-text img {
        margin-right: 25px;
        margin-top: 25px;
    }

}

.featured {
    background-color: #F9F9F9;
    position: relative;
    height: 109px;
    top: 30px;

    .feature-div {
        margin: 0 auto;
        width: 55%;
    }

    h3 {
        color: color(subtle-text-color);
        float: left;
        margin-right: 230px;
        margin-top: 30px;
    }

    .feature-logo {
        display: inline;
        margin-right: 50px;
    }

    .feature-logo img {
        margin-right: 50px;
        padding-top: 20px;
    }
  
}

.why-use {
    background-color: #F5F3F7;
    height: 408px;
    padding-bottom: 30px;
    padding-top: 60px;
    text-align: center;

    h2 {
        color: color(main-green);
        font-size: 28px;
        margin-bottom: 55px;
        margin-top: 0;
    }

    .why-card {
        display: inline-block;
        width: 24%;

        h3 {
            color: color(main-green);
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 2px;
        }

        p {
            margin-top: 5px;
        }
    }


}
