* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #23395B;
  font-size: 16px;
  font-family: 'Palanquin', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 85%;
}

a {
  color: #23395B;
  text-decoration: none;
}

p {
  line-height: 1.4;
}

.h2-title {
  color: #00D072;
  font-size: 28px;
  margin-bottom: 5px;
  margin-top: 0;
}

.clear-fix {
  clear: both;
}

header {
  background: url("../img/bg-Illustration.png") no-repeat;
  background-position-x: 85%;
  background-position-y: 55px;
  height: 700px;
}

header nav {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 10px rgba(35, 57, 91, 0.2);
          box-shadow: 1px 1px 10px rgba(35, 57, 91, 0.2);
  overflow: hidden;
  padding: 25px 70px;
}

header nav .logo {
  float: left;
}

header nav .nav {
  float: right;
}

header nav div.nav div {
  display: inline-block;
}

header nav div a {
  font-size: 17px;
  font-weight: 550;
  margin-left: 45px;
}

header nav div a.active-link {
  color: #00D072;
}

header .slider-text {
  margin-top: 110px;
}

header .slider-text h1 {
  color: #23395B;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 5px;
  padding-right: 500px;
}

header .slider-text p {
  font-size: 18px;
}

header .slider-text img {
  margin-right: 25px;
  margin-top: 25px;
}

.featured {
  background-color: #F9F9F9;
  position: relative;
  height: 109px;
  top: 30px;
}

.featured .feature-div {
  margin: 0 auto;
  width: 55%;
}

.featured h3 {
  color: rgba(35, 57, 91, 0.7);
  float: left;
  margin-right: 230px;
  margin-top: 30px;
}

.featured .feature-logo {
  display: inline;
  margin-right: 50px;
}

.featured .feature-logo img {
  margin-right: 50px;
  padding-top: 20px;
}

.how-it-works {
  height: 600px;
  margin-bottom: 120px;
  margin-top: 90px;
  padding: 30px 0 50px 0;
}

.how-it-works h2.h2-title {
  font-size: 35px;
  text-align: center;
}

.how-it-works p.special-text {
  font-size: 18px;
  margin-bottom: 100px;
  margin-top: 0;
  text-align: center;
}

.how-it-works .works-nav {
  float: left;
  margin-top: 60px;
  width: 20%;
}

.how-it-works .works-nav p {
  color: #00D072;
  font-size: 17px;
  font-weight: 500;
  opacity: 0.3;
}

.how-it-works p.active-works-nav {
  opacity: 1;
}

.how-it-works .works-nav p span {
  background-color: #00D072;
  border-radius: 15px;
  display: inline-block;
  height: 5px;
  margin-right: 25px;
  width: 30px;
}

.how-it-works .works-img {
  float: left;
  margin-left: 120px;
  margin-right: 180px;
}

.how-it-works .works-sub {
  margin-left: 120px;
  margin-top: 150px;
}

.works-sub p {
  font-size: 18px;
}

.why-use {
  background-color: #F5F3F7;
  height: 408px;
  padding-bottom: 30px;
  padding-top: 60px;
  text-align: center;
}

.why-use .why-card {
  display: inline-block;
  margin-top: 40px;
  width: 24%;
}

.why-use .why-card h3 {
  color: #00D072;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 2px;
}

.why-use .why-card p {
  margin-top: 5px;
}

.user-story {
  background-color: #F9F9F9;
  padding: 100px 0;
  text-align: center;
}

.user-story p.special-text {
  font-size: 18px;
  margin-top: 0;
}

.user-story .story {
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 10px rgba(230, 230, 230, 0.5);
          box-shadow: 1px 1px 10px rgba(230, 230, 230, 0.5);
  display: inline-block;
  margin-top: 30px;
  padding: 30px 35px;
  text-align: left;
  width: 600px;
}

.user-story .user {
  margin-top: 30px;
}

.user-story .user img {
  display: inline-block;
  margin-right: 25px;
}

.user-story .user .user-info {
  display: inline-block;
  margin-bottom: 50px;
  text-align: left;
}

.user-story .user .user-info .user-name span {
  font-weight: bold;
}

.user-story .user .user-info p {
  margin-bottom: 0;
  padding: 0;
}

.user-story .dots {
  background-color: #00D072;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  width: 10px;
}

.user-story .active-dot {
  border-radius: 10px;
  cursor: default;
  height: 10px;
  width: 30px;
}

.download {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 208, 114, 0.9)), to(rgba(0, 208, 114, 0.5)));
  background: linear-gradient(to right, rgba(0, 208, 114, 0.9), rgba(0, 208, 114, 0.5));
  height: 350px;
  padding: 70px 0 20px 0;
  text-align: center;
}

.download h2.h2-title {
  color: #ffffff;
  line-height: 1.3;
}

.download .app-store {
  display: inline-block;
  margin-top: 40px;
}

.download .app-store a {
  margin-right: 20px;
}

.endorsement {
  height: 350px;
  padding: 60px 0;
  text-align: center;
}

.endorsement h2 {
  color: rgba(35, 57, 91, 0.7);
}

.endorsement img {
  height: auto;
  margin: 15px;
  margin-top: 20px;
}

footer {
  background-color: #23395b;
  color: #ffffff;
  text-align: center;
}

.newsletter form input[type="email"] {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #ffffff;
  font-size: 17px;
  outline: none;
  padding: 15px 0 15px 15px;
  width: 20%;
}

.newsletter form input::-webkit-input-placeholder {
  color: #ffffff;
}

.newsletter form input:-ms-input-placeholder {
  color: #ffffff;
}

.newsletter form input::-ms-input-placeholder {
  color: #ffffff;
}

.newsletter form input::placeholder {
  color: #ffffff;
}

.newsletter form input[type="submit"] {
  background: #00D072;
  border: none;
  color: #ffffff;
  font-size: 18px;
  outline: none;
  padding: 15px 12px;
  width: 8%;
}
/*# sourceMappingURL=style.css.map */